*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ffffff;
}

.login-box{
    width:400px;
    padding:40px;

    background:white;
    border-radius:20px;

    border:1px solid #e5e7eb;

    box-shadow:
    0 10px 30px rgba(0,0,0,0.08);

    text-align:center;
}

.login-box h1{
    color:#111827;
    margin-bottom:8px;
}

.login-box p{
    color:#6b7280;
    margin-bottom:25px;
}

.login-box input{
    width:100%;
    padding:14px;
    margin-bottom:15px;

    border:1px solid #d1d5db;
    border-radius:12px;

    outline:none;
    font-size:15px;
}

.login-box input:focus{
    border-color:#a78bfa;
    box-shadow:0 0 0 3px rgba(167,139,250,0.2);
}

.login-box button{
    width:100%;
    padding:14px;

    border:none;
    border-radius:12px;

    background:#a78bfa;
    color:white;

    font-size:16px;
    font-weight:600;
    cursor:pointer;

    transition:0.3s;
}

.login-box button:hover{
    background:#8b5cf6;
    transform:translateY(-2px);
}

.signup-link{
    margin-top:20px;
    color:#6b7280;
}

.signup-link a{
    color:#8b5cf6;
    text-decoration:none;
    font-weight:600;
}
h1{
    background: transparent;
}
.login-box h1{
    color:#8b5cf6;
    font-size:2rem;
    font-weight:700;
    margin-bottom:8px;
    background:none;
}