*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: brown;
}
h3{
    color: brown;
}
#login {
    color: beige;
    background-color: brown;
}
#signup {
    color: brown;
    background-color: beige;

}
.answer{
    color: aliceblue;
    background-color: brown;

}
.upvote{
    color: aliceblue;
    background-color: chartreuse;
}