h1{
    text-align: center;
    color: #e580b6;
    background-color: rgb(250, 247, 205);
     font-weight: 600;
     text-decoration:wavy #e580b6 underline;
}
h2{
    text-align: center;
    color: hotpink;
    background-color: bisque;
    font-weight: 500;
    text-decoration: wavy #e580b6 underline;
}
p{
    text-align: center;
    color: deeppink;
    background-color: beige;
}